.imageDiv{
    display: inline-block;
    margin: 15px;
}

.image{
    border: 2px solid #333533;
}

.description{
    background-color: #333533;
    color: #E8EDDF;
    border: 1px solid #E8EDDF;
    border: double;
    width: 150px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.loveButton{
    background-color: #E8EDDF;
    border-radius: 5px;
    padding: 5px 45px;
    margin-top: 1rem;
}