.App {
  text-align: center;
  background-color: #E8EDDF;
  border-radius: 10px;
  margin: 10px;
  padding-bottom: 1rem;
}

.App-header {
  background-color: #333533;
  color: #E8EDDF;
  text-shadow: 1.25px 1.25px #FFA69E;
  font-family: cursive;
  font-size: x-large;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 2px solid #FFA69E;
}

.App-title {
  font-size: 1.5em;
}

.background{
  background-color: #FFA69E;
  padding-top: 3rem;
  border: double #333533;
  border-radius: 20px;
  margin: auto;
  width: 75%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}





